[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scrapy = "==2.6.2"
scrapyd = "==1.3.0"
scrapyd-client = "==1.2.2"
supervisor = "==4.2.4"

[dev-packages]

[requires]
python_version = "3.9"
